<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!-- Container for app -->
    <div id="container">

        <!-- Vue app -->
        <div id="app">

            <!-- Input -->
            <div class="flexed">
                <input type="text" placeholder="Inserisci una to-do" v-model="inputUser">
                <button @click="plus" @keyup.enter="plus">Add</button>
            </div>
                

            <!-- To do list -->
            <div id="lista">
                <ul>
                    <li v-for="(toDo,index) in toDoList" :key="index"><button @click="doneBar(index)">Y</button> {{ toDo.text }} <button @click="remove(index)">X</button> </li>
                </ul>
            </div>
        </div>
    </div> 
    
    <!-- My Script -->
    <script src="script.js"></script>

   
</body>
</html>