/* Default reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container settings */
#container{

    margin: 50px auto;
    /* DEBUG */
    border: 2px solid red;
    width: 500px;
    min-height: 300px;
}

/* List settings */
ul{
    text-align: center;
    /* DEBUG */
    border: 2px solid black;
}

ul li{
    list-style: none;
}

/* Flex for inputs */
.flexed{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Line for text */
.lined{
    text-decoration-line: line-through;
}