/* Default reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container settings */
#container{

    margin: 50px auto;
    /* DEBUG */
    border: 2px solid red;
    width: 500px;
    min-height: 300px;
}

/* List settings */
ul{
    text-align: center;
}

ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid;
}

/* Flex for inputs */
.flexed{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Line for text */
.lined{
    text-decoration-line: line-through;
}

/* Button setting */
button.lined_btn{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: lightgreen;
}

button.remove_btn{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: tomato;
}
